@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="container" ng-app="myWebAPI">
    <h1>WebAPI application uisng Entity Framework and AngularJS</h1>
    <div ng-controller="myWebAPICtrl">
        {{name}}
    </div>
</div>
